*:not(footer) {
  border-radius: 5px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
   background-color: #04446a;
   background: linear-gradient(to bottom, #ddebdc, #04446a);
}

header {

  margin: 10px;
  padding: 30px;
  font-size: 30px;
  color: #fefbea; 
  
}

header {
  background-image: url("./assets/header.shot.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: left;
  padding: 90px 0 50px 40px;
  
}





nav {
  background: linear-gradient(to bottom, #ddebdc, #04446a);
  margin: 10px;
  padding: 20px;
  font-size: 18px;
  text-align: right;
}


.link-color1 {
  color: #fefbea;
  font-size: 1.5em;
  padding: 10px;
  margin-right: 20px;
}
.link-color2{
  color: #04446a ;
}




main {
  padding: 20px;
}



.flex-container {
  display: flex;
  line-height: 400px;
  flex-wrap: nowrap;
  font-size: 30px;
  
}

.flex-container > div {
  
  margin: 10px;
  padding: 20px;
}

.flex-container2 {
  display: flex;
  line-height: 400px;
  flex-wrap: nowrap;
  font-size: 30px;
  background: linear-gradient(to bottom, #ddebdc, #04446a);
}

.flex-container2 > div {
  background-color: #ddebdc;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.flex-container3 {
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(to bottom, #ddebdc, #04446a);
}

.flex-container3 > div {
  background-color: #ddebdc;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.flex-container2 {
  display: flex;
  margin: 10px;
  color: #04446a;
}

.about {
  background-image: url(./assets/Carlos-Paris.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.about,
.work
{
  width: 200px;
  height: 300px;
   display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}





.workcontent {
  flex-grow: 1;
  word-wrap: break-word;
}



.about-text {
  flex-grow: 8;
  font-size: 18px;
}

.about-text {
  text-align: justify;
}

@media only screen and (max-width: 600px) {
  .about-text {
    flex-grow: 1;
  }
}

.about-text,
p {
  width: 80%;
  font-size: 14px;
  overflow: hidden;
}

.about-text {
  line-height: 1.2;
  color: #04446a;
  
  
}



.highlight {
  font-size: 2em;
  color: #ddebdc;
}

.work-item {
  margin-left: 10px;
}

.work-item:hover {

  color: white;
  cursor: pointer;
}

.workcontent {
  display: flex;
  flex-direction: row;
}

.work-item {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  margin-right: 10px;
  border: 6px solid white;
  overflow: hidden;
  position: relative;
}

.work-item {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.work-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
 
}



.work-item:last-of-type {
  margin-right: 0;
}



.work-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); /* Change the color and opacity here */
  transition: background-color 0.3s ease;
}

.work-item:hover::after {
  background-color: rgba(0, 0, 0, 0.4); 
}

.workcontent {
  flex-grow: 1;
  display: flex;
  padding: 15px;
}

.overlay-box {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 20%;
  height: 17%;
  min-width: 120px;
  min-height: 90px;
  background-color: red;
  color: #fefbea;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 1.2;
   background: linear-gradient(to bottom, #04446a, #04446a 70%, #fefbea);
   font-weight: bold;
}


.overlay-box2 {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 20%;
  height: 17%;
  min-width: 120px;
  min-height: 90px;
  background-color: red;
  color: #fefbea;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 1.2;
   background: linear-gradient(to bottom, #04446a, #04446a 70%, #fefbea);
   font-weight: bold;
}

.overlay-text {
  font-weight: bold;
}

.overlay-left {
  color: red
  
  }

.contactinfo {
  display: flex;
  flex-wrap: wrap;
  color: #04446a; 
  flex-grow: 1;
}

.new-element1,
.new-element2 {
  max-width: 100%;
  flex-grow: 1;
}

#contact-jump {
  text-align: center;
}

#contact-jump .new-element1,
#contact-jump .new-element2 {
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px; 
  height: 100px; 
  background: linear-gradient(to bottom, #ddebdc, #04446a);
  color: #fff;
  padding: 10px;
  text-align: center;

}





